body {
  font-family: Arial, sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d9dfff;
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome-message {
  margin-left: 50px;
  color: #fff;
  font-size: 24px;
  background-color: #003058;
  padding: 20px;
  border-radius: 10px;
}

.shark-strong {
  color: #fea27c;
}

.buttons {
  margin-top: 20px;
  margin-left: 190px;
}

.welcome-buttons-login {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  margin: 10px;
  border-radius: 5px;
}

.welcome-buttons-login:hover {
  background-color: #0056b3;
}
