.nav {
  width: 15%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  z-index: 500;
  text-align: center;
  margin-top: 10%;
  background-color: #fda37d;
  border-radius: 15px;
  margin-left: 40px;
}

.nav ul {
  list-style-type: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.nav a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  display: block;
  transition: background-color 0.3s;
}

.nav li {
  margin-bottom: 16px;
}

/* Hover effect for links */
.nav a:hover {
  background-color: #003058;
  color: white;
}

.nav li ul {
  font-size: smaller;
}
